{% extends "template.html" %}
{% block content %}
                <div class="map-form">
                    <form method="post" action="results">
                        <h2>Tells us where you are and find the nearest store!</h2>
                        <div id="map-form-div">
                            <label>City:</label>
                            <input type="text" name="city" required placeholder="City">
                            <label>State</label>
                            <select name="state">
                                {% for state in states %}
                                <option value="{{state.region_code}}">{{state.region_name}}</option>
                                {% endfor %}
                            </select>
                            <button class="map-btn" type="submit">Search</button>
                        </div>
                    </form>
                </div>
{% endblock %}
