{% extends "template.html" %}
{% block content %}
    <div class="body-title">
        <h2>{{ title }}</h2>
    </div>
    <div class="address-form-container">
        <div class="card-group-cart">
            {% for item in cart_items %}
                {% for drink in drinks %}
                    {% if item.drinks_id == drink.id %}
                        <div class="card">
                        {% for image in images %}
                            {% if image.id == drink.id %}
                                <img src="{{ url_for('static', filename='images/' + image.filename) }}">
                            {% endif %}
                        {% endfor %}
                            <div class="card-body">
                                <p class="card-title">{{ drink.name }}</p>
                                <div>
                                    <div class="card-center-edit" style="align-self: center; align-items: center;">
                                        <ul>
                                            <li>Price: ${{ drink.price }}</li>
                                            <li style="padding-top: 5px;">Amount: {{item.quantity}}</li>
                                        </ul>
                                        <p></p>
                                        <div>
                                            <input type="hidden" name="item_id" value="{{ drink.id }}">
                                            <input type="hidden" name="item_price" value="{{ drink.price }}">
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <p>{{ drink.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="address-form">
            <h2>Confirm your address and payment:</h2>
            <form method="post" action="{{ url_for('checkout')}}">
                <div>
                    <div>
                        <div>
                            <label>City</label>
                            <select name="city">
                                <option value="João Pessoa">João Pessoa</option>
                                <option value="Recife">Recife</option>
                                <option value="Natal">Natal</option>
                            </select>
                        </div>
                        <div >
                            <label>District</label>
                            <input type="text" name="district" required placeholder="District">
                        </div>
                        <div>
                            <label >Address</label>
                            <input type="text" name="address" required placeholder="Address">
                        </div>
                    </div>
                    <div>
                        <div >
                            <label>Credit Card Number</label>
                            <input style="width: max-content" type="number" inputmode="numeric" name="credit" required pattern="[0-9]{16-19}" maxlength="19" placeholder="XXXXXXXXXXXXXXXX">

                        </div>
                        <div>
                            <label>CVC</label>
                            <input type="number" inputmode="numeric" name="cvc" required pattern="[0-9]{3}" maxlength="3" placeholder="XXX">
                        </div>
                        {% if 'logged' in session %}
                        <div>
                            <label onchange="updateTotalAmount()">Disccount</label>
                            <input type="number" inputmode="numeric" name="discount" pattern="[0-9]" max="{{ points }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <button class="form-btn" type="submit">Confirm order</button>
            </form>
        </div>
    </div>
    <div>
        <p class="total-amount-display"> TOTAL: ${{ total_amount }}</p>
        <input type="hidden" name="total-amount" value="{{ total_amount }}">
    </div>
    <script>
            const discountInput = document.querySelector('input[name="discount"]');
            const totalAmountInput = document.querySelector('input[name="total-amount"]');
            const totalAmountDisplay = document.querySelector('.total-amount-display');

            discountInput.addEventListener('input', updateTotalAmount);

            function updateTotalAmount() {
                console.log("called")

                if (discountInput.value) {
                    const discountValue = parseFloat(discountInput.value) / 100;
                    const totalAmountValue = parseFloat(totalAmountInput.value);

                    const updatedTotalAmount = totalAmountValue - discountValue;
                    console.log(updatedTotalAmount)

                    totalAmountDisplay.textContent = `TOTAL: $${totalAmountValue} - $${discountValue} = $${updatedTotalAmount}`;
                } else {
                    totalAmountDisplay.textContent = `TOTAL: $${totalAmountInput.value}`
                }
            }
    </script>
{% endblock %}