{% extends "template.html" %}
{% block content %}
    <div class="checkout-message">
        <h2>Thank you for your order!</h2>
        <strong>Your order will be soon delivered for the address below:</strong>
        <p>{{ city }}</p>
        <p>{{ district }}</p>
        <p>{{ address }}</p>
        <div class="loader-container">
            <div id="loader"></div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 5000);
    </script>
{% endblock %}